/******************************************************************************
  Base styles.
 ******************************************************************************/

@import "reset";

$baseFontSize: 13px;
$baseLineHeight: 18px;

@import "type";

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: #333;
  background-color: white;
}

$linkColor: #08c;
a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: darken($linkColor, 15%);
  text-decoration: underline;
}


/******************************************************************************
  Page structure and style.
 ******************************************************************************/

@import "bootstrap";

.button, button { @include button; }
.action { @include button-primary; }



body {
  // Account for navbar
  padding-top: $navbarHeight;

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

// Navbar on top
#controls {
  user-select: none;

  @include navbar;
  @include navbar-top;
  ul {
    @include navbar-links;
    float: right
  }

  button {
    @include button-navbar;
    @include button-info;
  }
}

// The audio or video players
audio, video {
  width: 100%;
  margin-bottom: 15px;
  height: 30px;
}
video.has-video {
  height: 200px;
}


// Introduction text upon start when no lyrics are loaded
#introduction {
  @include hero-unit;
  a.import-lyrics {
    @include button;
    @include button-large;
    @include button-primary;
  }
  a.show-help {
    @include button;
    @include button-large;
  }
}

// The lyrics box
@keyframes highlight {
  from { background: #FF908A; }
  to { background: none; }
}

#lyrics {
  display: none;
  margin: 20px;
  width: 800px;
  margin: 20px auto;

  font-size: 20px;
  line-height: 1.7em;

  $cursor: double 4px red;
  span {
    // Words marked with a timestamp
    &.timed {
      color: green;
    }
    &.updated {
      animation: highlight 1s;
    }
    &.cursor {
      border-bottom: $cursor;
    }
  }

  &.playing {
    // Selecting text only bothers the user while working with the lyrics
    user-select: none;

    span {
      cursor: pointer;

      // Current word when playing
      &.current {
        color: red;
      }

      &:hover {
        border-bottom: $cursor;
      }
    }
  }

}


/******************************************************************************
  Page structure and style.
 ******************************************************************************/


.modal {
  display: none;
  @include modal;
}


#help {
  iframe { vertical-align: middle; }
  kbd {
    border: solid 1px #ABABAB;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 3px;
  }
  dd {
    margin: 0.2em 0em 0.5em 20px;
  }
}

#import, #export {
  textarea {
    resize: none;
    width: 100%;
    height: 300px;
    border: 1px solid #aaa;
  }
}
